services:
  service_a:
    build:
      context: .
      dockerfile: service_a/Dockerfile
    ports:
      - "8000:8000"
      - "50051:50051"
    networks:
      - app-network

  service_b:
    build:
      context: .
      dockerfile: service_b/Dockerfile
    ports:
      - "8001:8001"
    environment:
      - GRPC_SERVER_HOST=service_a
      - GRPC_SERVER_PORT=50051
    depends_on:
      - service_a
    networks:
      - app-network

  service_c:
    build:
      context: .
      dockerfile: service_c/Dockerfile
    ports:
      - "8002:8002"
    environment:
      - GRPC_SERVER_HOST=service_a
      - GRPC_SERVER_PORT=50051
    depends_on:
      - service_a
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
